[Unit]
Description=Initial Python Environment Setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setup-python-env.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target